<ion-view title="Drinks" id="page3" class=" ">
		<ion-content padding="true" class="has-header">
			<div class="card no-margin-top">
				<div class="shake-icon"></div>
				<div class="shake-text-container">
					<p class="shake-text">Shake your phone to pick a random drink!</p>
				</div>
			</div>
				<button class="button button-light" ng-click="onShakeTest();">
					RANDOM!!!
				</button>
				<div class="card drinks-list-title">
						<p>Drinks List</p>
				</div>
				<ion-gallery ion-gallery-items="items"></ion-gallery>
				<div id="pruebaShake" style="background-color:red;height:100px"></div>
	</ion-content>
</ion-view>