<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header" on-swipe-left="onSwipeLeft()">
		<div class="card main">

            <div class="item item-icon-left item-diveder">
                <i class="icon ion-android-alarm-clock"></i>
                <span class="card-title">COUNTDOWN TO THE PARTY</span>
        	</div>
            <span class="item item-text-wrap">
               <h2>{{ daysLeft }}  DAYS LEFT</h2>
            </span>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-icon-left item-diveder">
                <i class="icon icon ion-tshirt"></i>
                <span class="card-title">
                    DRESS IN BLACK & WHITE
                </span>
            </div>
                <span class="item item-text-wrap">See the drinks available at the bar counter</span>
        </div>

        <a ui-sref="menu.map" ng-click="activeButton = 'map'">
            <div class="card">
                <div class="item item-icon-left item-diveder">
                    <i class="icon ion-location"></i>
                    <span class="card-title">
                        CLUB HÍPICO BUENOS AIRES
                    </span>
                </div>
               
                <div class="item item-text-wrap">
                    Av. Figueroa Alcorta 7285 - CABA
                </div>
            </div>
        </a>
	</ion-content>
</ion-view>