<ion-view title="Map" id="page5" class=" ">
    <ion-content padding="false" class="has-header">
	
     <div id="controls-container">
        <div class="left">
            <input id="origin-input" class="controls" type="text" placeholder="Origin Location">
            <input id="destination-input" class="controls" type="text" placeholder="Destination location" >
        </div>
        <button id="switch-btn" class="button" value="" ng-click="onSwitch()"></button>
        <div class="right">
            <div class="button-bar">
                <a class="option-button button icon ion-android-bus " method="TRANSIT"></a>
                <a class="option-button button icon ion-android-car" method="DRIVING"></a>
                <a class="option-button button icon ion-android-walk" method="WALKING"></a>
            </div>
            <!--
            <select id="mode" class="controls">
              <option value="asd">Public Transportation</option>
              <option value="DRdsdsIVING">Driving</option>
              <option value="WALasdKING">Walking</option>
            </select>
        -->
        </div>
    </div>    
        
    <div id="map"></div>
    <div class="instructions-button">Travel Instructions</div>
    <div id="right-panel"></div> 
    </ion-content>
</ion-view>

</ion-content>
</ion-view>