<ion-view title="Map" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
	
    <div id="map">
    </div>
    <div id="right-panel"></div>

    <input id="origin-input" class="controls" type="text"
        placeholder="Origin Location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Destination location" value="Av. Guillermo Udaondo 310, Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina">

    <select id="mode" class="controls">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="TRANSIT">Transit</option>
    </select>

    <button onclick="#" id="switch-inputs" value="" >Switch</button>
	
    </ion-content>
</ion-view>

</ion-content>
</ion-view>