<!--
<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>


		<div class="bar bar-footer no-padding tabs-striped">
			<div class="tabs tabs-icon-top new-height">

				<a class="tab-item" ui-sref="menu.home" ui-sref-active="active">
					<i class="icon ion-home"></i> HOME
				</a>

				<a class="tab-item" ui-sref="menu.map" ui-sref-active="active">
					<i class="icon ion-location"></i> LOCATION
				</a>
				<a class="tab-item" ui-sref="menu.drinks" ui-sref-active="active">
					<i class="icon icon ion-wineglass"></i> DRINKS
				</a>
				<a class="tab-item" ui-sref="menu.cameraPhotos" ui-sref-active="active">
					<i class="icon ion-camera"></i> PHOTO
				</a>
				<a class="tab-item" ui-sref="menu.games" ui-sref-active="active">
					<i class="icon ion-ios-game-controller-b"></i> GAME
				</a>
			</div>
		</div>
	</ion-side-menu-content>
</ion-side-menus>
-->

<ion-tabs class="tabs-stripped tabs-color-calm tabs-icon-top">

	<ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="menu.home" ui-sref-active="active">
		<ion-nav-view name="home"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Map" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" ui-sref="menu.map" ui-sref-active="active">
		<ion-nav-view name="map"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Drinks" icon-on="ion-ios-wineglass" icon-off="ion-ios-wineglass-outline" ui-sref="menu.drinks" ui-sref-active="active">
		<ion-nav-view name="drinks"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="menu.camera" ui-sref-active="active">
		<ion-nav-view name="camera" ng-init="takePhoto()"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Game" icon-on="ion-ios-game-controller-b" icon-off="ion-ios-game-controller-b-outline" ui-sref="menu.games" ui-sref-active="active">
		<ion-nav-view name="games"></ion-nav-view>
	</ion-tab>

</ion-tabs>