<ion-view title="Cognizant Fest Playlist" id="page5" class=" ">
    <ion-content padding="true" class="has-header">


  <!--<button  class="button button-balanced" ng-click="login()">Login with Spotify</button>-->


  <div class="list">

          <a class="item" ng-repeat="track in tracks"
             href="#/{{item.id}}"
             class="item">

          <!--  <img ng-src="{{ artist.image }}"> -->
            <h2>{{ track.name }}</h2>
            <p>{{ track.artists[0].name }}</p>
            <span class="item-note" style="position:absolute; top:40px; right:27px;">Votos</span>

            <span class="badge badge-balanced">0</span>



          </a>

  </div>


    </ion-content>


</ion-view>
