<ion-view view-title="Welcome" class="padding screen-background">
	<div class="row responsive-sm text-center v-center">
		<img class="col" src="img/bubble.png" alt="Bubbles! Logo">
	</div>
	<div class="row responsive-sm text-center v-center">
		<h1 class="col">Bubbles!</h1>
		<p class="col">Spot the still</p>
	</div>
	<a class="button button-large button-full button-positive" href="#/bubbles">Start!</a>
	<a class="button button-large button-block button-outline button-positive" ui-sref="menu.games">Exit game</a>
</ion-view>