
/*************************************  

Custom app UI styles 

**************************************/

/* BACKGROUND GRADIENT */

.scroll-content{
	background: #3ad58f; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ad58f 0%, #1b3061 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ad58f), color-stop(100%,#1b3061)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ad58f 0%, #1b3061 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ad58f 0%, #1b3061 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ad58f 0%, #1b3061 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ad58f 0%, #1b3061 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ad58f', endColorstr='#1b3061',GradientType=0 ); /* IE6-9 */
}

.no-padding{
	padding: 0px!important;
}

.no-padding a{
	color: #22546b;
	line-height: 21px!important;
}

.no-padding i{
	color: #22546b;
	line-height: 39px!important;
}

.new-height{
	height: 60px!important;
}

/********************************  Mapa  **************************************/

.scroll {
    height: 100%;
}

#controls-container {
   height: 120px;
}

#switch-btn{
    height: 74px;
    float: left;
    margin-top: 5px;
}
/*
*/
.right{
    float: right;
    width: 100%;
    margin: 0 5px 5px 5px;
}

.left{
    float: left;
}

.option-button{
  width: 31%;
}

#map {
    width: 100%;
    height: 70%;
}
#dvPanel {
    width: 300px;
    height: 500px;
}
/*
.controls {
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
*/

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin: 5px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode {
  color: #fff;
  /*background-color: #4d90fe;*/
  display: block;
  width: 100%;
  margin-left: 10px;
}

#mode a{
  display: inline-block;
  width: 32%;
}

#mode label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    width: 100%;
    overflow: auto;
    background-color: #FFFFFF;
}

#right-panel select, #right-panel input {
    font-size: 10px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 10px;
}

/*************************************************************************************/

.platform-ios .manual-ios-statusbar-padding{
	padding-top:20px;
}
.manual-remove-top-padding{
	padding-top:0px; 
}
.manual-remove-top-padding .scroll{
	padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
	margin-left:-10px;
	margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
	border-radius:0px;
	border-left:0px;
	border-right: 0px;
}