
/*************************************  

Custom app UI styles 

**************************************/

/* BACKGROUND GRADIENT */

.scroll-content{
	background: #163548;
}

.no-padding{
	padding: 0px!important;
}

.no-padding a{
	color: #22546b;
	line-height: 21px!important;
}

.no-padding i{
	color: #22546b;
	line-height: 39px!important;
}

/* Bottom menu background color gradient */
.new-height{
	height: 60px!important;
	background: #9195aa; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #cacaca 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #efefef 0%, #cacaca 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #efefef 0%, #cacaca 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#49515e',GradientType=0 )!important; /* IE6-9 */
}

/********************************  Mapa  **************************************/

.gm-style-mtc{
  display: none;
}

.instructions-button{
  background: #01bd68;
  text-align: center;
  color: #fff;
  height: 33px;
  line-height: 34px;
}

.scroll {
    height: 100%;
}

#controls-container {
   
}

#controls-container .button-bar .button{
  min-height: 35px!important;
  height: 35px!important;
}

#controls-container .button-bar .button:before{
  min-height: 37px!important;
  height: 37px!important;
  line-height: 29px;
  font-size: 19px;
}

#switch-btn{
  background: #ffffff url("../img/flip-512.png") no-repeat center center;
  background-size: 20px 20px;
  height: 66px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 17%;
}
/*
*/
.right{
    margin: 0 5px 5px 5px;
}

.left{
    float: left;
    width: 81%;
}

.option-button{
  width: 31%;
}

#map {
    width: 100%;
    height: 61%;
}
#dvPanel {
    width: 300px;
    height: 500px;
}
/*
.controls {
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
*/

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  margin: 5px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  height: 30px;
  width: 96%;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode {
  color: #fff;
  /*background-color: #4d90fe;*/
  display: block;
  width: 100%;
  margin-left: 10px;
}

#mode a{
  display: inline-block;
  width: 32%;
}

#mode label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    width: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 50px;
}

#right-panel select, #right-panel input {
    font-size: 10px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 10px;
}

/*************************************************************************************/

.platform-ios .manual-ios-statusbar-padding{
	padding-top:20px;
}
.manual-remove-top-padding{
	padding-top:0px; 
}
.manual-remove-top-padding .scroll{
	padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
	margin-left:-10px;
	margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
	border-radius:0px;
	border-left:0px;
	border-right: 0px;
}


/*************************************   Drinks gallery   *******************************************/

.no-margin-top{
	margin-top: 0px!important;
}

.drinks-list-title{
	margin-bottom: 0px!important;
	text-align: center;
	padding: 5px;
}

.drinks-list-title p{
	width: 100%;
	text-align: center;
	margin: 0px!important;
}

.image-container{
	border: none!important;
	margin: 7px 0!important;
	border-radius: 3px;
}

.image-container img{
	width: 100%!important;
	height: auto!important;
}

.row{
	height: 160px!important;
	padding: 0px!important;
}

.card{
	}

.shake-text-container{
	width: 64%;
	float: left;
}

.shake-text{
	text-align: left;
	font-size: 17px;
	margin: 40px auto;
	width: 90%;
}

.shake-icon{
	width: 30%;
	height: 100px;
	margin: 10px;
	background: url("../img/shake-icon-img.png") no-repeat center center;
	background-size: 100px 100px;
	float: left;
}

.gallery-view{
	margin-bottom: 55px!important;
}